{
  "presets": ["react", "es2015", "stage-1"],
  "plugins": ["transform-es2015-arrow-functions", "__coverage__"],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    },
    "build": {
      "plugins": ["transform-remove-console"]
    },
    "test": {
      "plugins": ["__coverage__"]
    }
  }
}
